body {
  margin: 0;
  font-family: 'Play', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/* Body Styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat Alternates', sans-serif;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

/* Image Styles */
img {
  max-width: 100%;
  display: block;
}

/* Form Element Styles */
input,
textarea,
button,
select {
  font: inherit;
  border: none;
}

/* Button Styles */
button {
  cursor: pointer;
}

a {
  text-decoration-line: none;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  margin: 0 auto;
  @media screen and (min-width: 360px) {
    width: 360px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1440px) {
    width: 1440px;
  }
}

.swiper-button-next {
  color: transparent;
  background-image: url('./icons/arrow-right.png');
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50px;
  width: 24px;
  height: 24px;
  margin-right: 12px;
  @media screen and (min-width: 1440px) {
    margin-right: 20px;
  }
}

.swiper-button-prev {
  color: transparent;
  background-image: url('./icons/arrow-left.png');
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50px;
  width: 24px;
  height: 24px;
  margin-left: 12px;
  @media screen and (min-width: 1440px) {
    margin-left: 20px;
    
  }
  
}
