body {
    margin: 0;
    padding: 0;
    font-family: 'Play', sans-serif;
    color: #fdfdfd;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

#root {
    height: max-content;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

/* Image Styles */
img {
    max-width: 100%;
    display: block;
}

/* Form Element Styles */
input,
textarea,
button,
select {
    padding: 0;
    font: inherit;
    border: none;
}

/* Button Styles */
button {
    cursor: pointer;
}

a {
    text-decoration-line: none;
}

ul {
    list-style: none;
    padding: 0;
}

.container {
    position: relative;
    margin: 0 auto;

    @media screen and (min-width: 360px) {
        width: 360px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1440px) {
        width: 1440px;
    }
}

.heroSwiper .swiper-button-next {
    color: transparent;
    background-image: url('./icons/arrow-right-hero.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: auto;
    border-radius: 50px;
    width: 24px;
    height: 24px;
    right: 16px;

    @media screen and (min-width: 768px) {
        right: 32px;
    }

    @media screen and (min-width: 1440px) {
        right: 80px;
    }
}

.heroSwiper .swiper-button-prev {
    color: transparent;
    background-image: url('./icons/arrow-left-hero.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: auto;
    width: 24px;
    height: 24px;
    left: 16px;

    @media screen and (min-width: 768px) {
        left: 32px;
    }

    @media screen and (min-width: 1440px) {
        left: 80px;
    }
}

.heroSwiper .swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    height: 20px;
    width: 100px;
    border-radius: 20px;
    margin: 0 auto;
    background-color: var(--bkack-opacity-60, rgba(0, 0, 0, 0.6));
    color: var(--Wtite, #fdfdfd);
}

.heroSwiper .swiper-pagination-bullet {
    border: 1px solid #fdfdfd;
    width: 8px;
    height: 8px;
}

.heroSwiper .swiper-pagination-bullet-active {
    background-color: var(--Wtite, #fdfdfd);
    width: 12px;
    height: 12px;
}

.heroSwiper {
    position: relative;
}

.heroSwiper .swiper-pagination,
.heroSwiper .swiper-button-prev,
.heroSwiper .swiper-button-next {
    position: absolute;
    bottom: 40px;
    display: flex;
    align-items: center;
}

.heroSwiper .swiper-pagination {
    left: 50%;
    transform: translateX(-50%);
}

.swiper-button-next {
    color: transparent;
    background-image: url('./icons/arrow-right.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin-right: 12px;

    @media screen and (min-width: 1440px) {
        margin-right: 20px;
    }
}

.swiper-button-prev {
    color: transparent;
    background-image: url('./icons/arrow-left.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin-left: 12px;

    @media screen and (min-width: 1440px) {
        margin-left: 20px;
    }
}

/* red color for password error */

.redError label {

    color: #d91f2d;

}

.redError input {
    color: var(--Main-red, #d91f2d);
    border-block-end: 1px solid var(--Main-red, #d91f2d);

    &:hover,
    &:focus,
    &:active {
        color: var(--Main-red, #d91f2d);
        border-block-end: 1px solid var(--Main-red, #d91f2d);
    }

    &:hover+label,
    &:not(:placeholder-shown)+label,
    &:focus+label,
    &:active+label {

        color: var(--Main-red, #d91f2d);
    }
}

.redError svg {

    path:nth-child(1),
    path:nth-child(2),
    path:nth-child(3),
    path:nth-child(4),
    path:nth-child(5),
    path:nth-child(6) {
        stroke: var(--Main-red, #d91f2d);
    }

}

.redError path:nth-child(1),
.redError path:nth-child(2),
.redError path:nth-child(3),
.redError path:nth-child(4),
.redError path:nth-child(5),
.redError path:nth-child(6) {
    stroke: var(--Main-red, #d91f2d);
}

.redError a {
    color: #d91f2d;
}
